Repository prgrms-web-devcourse-final-project/WEB1_2_PitchingMate_BE, pull requests merged in 2024-11, with the labels that each got.

#1 Mate-2 : [FEAT] 기본 의존성 설정 및 환경 파일 추가
  .gitattributes
  .gitignore
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
  src/main/java/com/example/mate/MateApplication.java
  src/main/resources/application.yml
  src/test/java/com/example/mate/MateApplicationTests.java
  src/test/resources/application.yml
Labels: ✨ Feature

#2 MATE-7 : [FEAT] PR 템플릿 작성
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 📃 Docs

#3 MATE-5 : [FEAT] 소셜 로그인 엔드포인트 구현
  src/main/java/com/example/mate/domain/auth/controller/AuthController.java
  src/main/java/com/example/mate/domain/global/jwt/JwtToken.java
Labels: ✨ Feature

#4 MATE-13 : [FEAT] PR 리뷰어 자동화 세팅
  .github/CODEOWNERS
  src/main/java/com/example/mate/domain/auth/controller/AuthController.java
  src/main/java/com/example/mate/global/jwt/JwtToken.java
Labels: ⚙ Setting

#8 MATE-8 : [FEAT] 메이트 도메인 관련 엔드포인트 구현
  src/main/java/com/example/mate/common/PageResponse.java
  src/main/java/com/example/mate/domain/mate/controller/MateController.java
  src/main/java/com/example/mate/domain/mate/dto/request/MatePostCompleteRequest.java
  src/main/java/com/example/mate/domain/mate/dto/request/MatePostCreateRequest.java
  src/main/java/com/example/mate/domain/mate/dto/request/MatePostSearchRequest.java
  src/main/java/com/example/mate/domain/mate/dto/request/MatePostStatusRequest.java
  src/main/java/com/example/mate/domain/mate/dto/request/MateReviewRequest.java
  src/main/java/com/example/mate/domain/mate/dto/response/MatePostDetailResponse.java
  src/main/java/com/example/mate/domain/mate/dto/response/MatePostResponse.java
  src/main/java/com/example/mate/domain/mate/dto/response/MatePostSummaryResponse.java
  src/main/java/com/example/mate/domain/mate/dto/response/MateReviewCreateResponse.java
  src/main/java/com/example/mate/entity/Age.java
  src/main/java/com/example/mate/entity/Gender.java
  src/main/java/com/example/mate/entity/Rating.java
  src/main/java/com/example/mate/entity/Status.java
  src/main/java/com/example/mate/entity/TransportType.java
Labels: ✨ Feature

#6 MATE-4 : [FEAT] 경기 정보 관련 도메인 엔드포인트 구현
  build.gradle
  src/main/java/com/example/mate/Match.http
  src/main/java/com/example/mate/domain/match/controller/MatchController.java
  src/main/java/com/example/mate/domain/match/controller/TeamController.java
  src/main/java/com/example/mate/domain/match/dto/request/MatchRequest.java
  src/main/java/com/example/mate/domain/match/dto/request/StadiumRequest.java
  src/main/java/com/example/mate/domain/match/dto/request/TeamRequest.java
  src/main/java/com/example/mate/domain/match/dto/request/WeatherRequest.java
  src/main/java/com/example/mate/domain/match/dto/response/MatchResponse.java
  src/main/java/com/example/mate/domain/match/dto/response/StadiumResponse.java
  src/main/java/com/example/mate/domain/match/dto/response/TeamResponse.java
  src/main/java/com/example/mate/domain/match/dto/response/WeatherResponse.java
  src/main/java/com/example/mate/domain/match/model/TeamData.java
  src/main/java/com/example/mate/domain/match/model/TeamInfo.java
  src/main/java/com/example/mate/global/common/response/ApiResponse.java
  src/main/java/com/example/mate/global/config/SecurityConfig.java
  src/main/java/com/example/mate/global/config/SwaggerConfig.java
  src/main/java/com/example/mate/global/exception/CustomException.java
  src/main/java/com/example/mate/global/exception/ErrorCode.java
  src/main/java/com/example/mate/global/exception/GlobalExceptionHandler.java
  src/main/resources/application.yml
Labels: ✨ Feature, ⚙ Setting

#5 MATE-6 : [FEAT] 굿즈 거래 도메인 관련 엔드포인트 구현
  src/main/java/com/example/mate/domain/goods/controller/GoodsChatController.java
  src/main/java/com/example/mate/domain/goods/controller/GoodsController.java
  src/main/java/com/example/mate/domain/goods/dto/request/GoodsPostRequest.java
  src/main/java/com/example/mate/domain/goods/dto/request/GoodsReviewFormRequest.java
  src/main/java/com/example/mate/domain/goods/dto/request/GoodsReviewRequest.java
  src/main/java/com/example/mate/domain/goods/dto/response/GoodsPostResponse.java
  src/main/java/com/example/mate/domain/goods/dto/response/GoodsPostSummaryResponse.java
  src/main/java/com/example/mate/domain/goods/dto/response/GoodsReviewFormResponse.java
  src/main/java/com/example/mate/domain/goods/dto/response/GoodsReviewResponse.java
  src/main/java/com/example/mate/domain/goods/entity/Category.java
  src/main/java/com/example/mate/domain/goods/entity/Rating.java
  src/main/java/com/example/mate/domain/goods/entity/Role.java
  src/main/java/com/example/mate/domain/goods/entity/Status.java
  src/main/java/com/example/mate/domain/goods/vo/Location.java
  src/main/java/com/example/mate/domain/goods/vo/MemberInfo.java
  src/main/java/com/example/mate/domain/members/entity/Team.java
Labels: ✨ Feature

#9 MATE-17 : [FEAT] 회원 관련 엔티티 생성
  src/main/java/com/example/mate/domain/goods/dto/response/GoodsPostResponse.java
  src/main/java/com/example/mate/domain/goods/dto/response/GoodsPostSummaryResponse.java
  src/main/java/com/example/mate/domain/member/entity/Follow.java
  src/main/java/com/example/mate/domain/member/entity/Member.java
  src/main/java/com/example/mate/domain/members/entity/Team.java
  src/main/java/com/example/mate/entity/TeamInfo.java
Labels: ✨ Feature

#11 MATE-15 : [FEAT] 경기 정보 관련 엔티티 생성
  src/main/java/com/example/mate/domain/constant/StadiumInfo.java
  src/main/java/com/example/mate/domain/constant/TeamInfo.java
  src/main/java/com/example/mate/domain/match/entity/Match.java
  src/main/java/com/example/mate/domain/match/entity/Weather.java
  src/main/java/com/example/mate/entity/MatchResult.java
  src/main/java/com/example/mate/entity/MatchStatus.java
  src/main/java/com/example/mate/global/exception/ErrorCode.java
Labels: ✨ Feature

#10 MATE-14 : [FEAT] 굿즈거래 관련 엔티티 생성
  src/main/java/com/example/mate/domain/goods/dto/MemberInfo.java
  src/main/java/com/example/mate/domain/goods/dto/response/GoodsPostResponse.java
  src/main/java/com/example/mate/domain/goods/entity/GoodsPost.java
  src/main/java/com/example/mate/domain/goods/entity/GoodsPostImage.java
  src/main/java/com/example/mate/domain/goods/entity/GoodsReview.java
  src/main/java/com/example/mate/domain/goods/vo/Location.java
Labels: ✨ Feature

#12 MATE-16 : [FEAT] 메이트 정보 관련 엔티티 생성
  src/main/java/com/example/mate/domain/mate/entity/MatePost.java
  src/main/java/com/example/mate/domain/mate/entity/MateReview.java
  src/main/java/com/example/mate/domain/mate/entity/Visit.java
  src/main/java/com/example/mate/domain/mate/entity/VisitPart.java
  src/main/java/com/example/mate/domain/mate/entity/VisitPartId.java
Labels: ✨ Feature

#13 MATE-19 : [FEAT] 시큐리티 및 엔티티 기본 세팅
  src/main/java/com/example/mate/MateApplication.java
  src/main/java/com/example/mate/common/BaseTimeEntity.java
  src/main/java/com/example/mate/global/config/SecurityConfig.java
Labels: ✨ Feature, ⚙ Setting

#14 MATE-21 : [FEAT] 팀 성적 엔티티 생성
  src/main/java/com/example/mate/domain/match/entity/TeamRecord.java
Labels: ✨ Feature

#16 MATE-45 : [FIX] 경기 정보 엔티티와 팀 기록 엔티티 일부 수정
  src/main/java/com/example/mate/domain/match/entity/Match.java
  src/main/java/com/example/mate/domain/match/entity/TeamRecord.java
Labels: 🐞 BugFix

#18 MATE-18 : [FEAT] 네이버 소셜 로그인 구현
  build.gradle
  src/main/java/com/example/mate/MateApplication.java
  src/main/java/com/example/mate/common/config/RestTemplateConfig.java
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/common/error/GlobalExceptionHandler.java
  src/main/java/com/example/mate/domain/auth/config/OAuthConfig.java
  src/main/java/com/example/mate/domain/auth/controller/AuthController.java
  src/main/java/com/example/mate/domain/auth/dto/response/LoginResponse.java
  src/main/java/com/example/mate/domain/auth/dto/response/NaverProfileResponse.java
  src/main/java/com/example/mate/domain/auth/service/NaverAuthService.java
  src/main/java/com/example/mate/domain/member/dto/response/LoginTokenResponse.java
  src/test/java/com/example/mate/domain/auth/controller/AuthControllerTest.java
  src/test/java/com/example/mate/domain/auth/integration/NaverAuthIntegrationTest.java
  src/test/java/com/example/mate/domain/auth/service/NaverAuthServiceTest.java
  src/test/java/com/example/mate/domain/mate/integration/MateIntegrationTest.java
Labels: ✨ Feature, ⚙ Setting, ✅ Test

#19 MATE-23 : [FEAT] 굿즈거래 판매글 작성 기능 구현
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/common/error/GlobalExceptionHandler.java
  src/main/java/com/example/mate/common/utils/file/FileUploader.java
  src/main/java/com/example/mate/common/utils/file/FileValidator.java
  src/main/java/com/example/mate/common/utils/validator/EnumValidator.java
  src/main/java/com/example/mate/common/utils/validator/ValidEnum.java
  src/main/java/com/example/mate/domain/constant/TeamInfo.java
  src/main/java/com/example/mate/domain/goods/controller/GoodsController.java
  src/main/java/com/example/mate/domain/goods/dto/LocationInfo.java
  src/main/java/com/example/mate/domain/goods/dto/MemberInfo.java
  src/main/java/com/example/mate/domain/goods/dto/request/GoodsPostRequest.java
  src/main/java/com/example/mate/domain/goods/dto/response/GoodsPostResponse.java
  src/main/java/com/example/mate/domain/goods/entity/Category.java
  src/main/java/com/example/mate/domain/goods/entity/GoodsPost.java
  src/main/java/com/example/mate/domain/goods/entity/GoodsPostImage.java
  src/main/java/com/example/mate/domain/goods/entity/Location.java
  src/main/java/com/example/mate/domain/goods/repository/GoodsPostImageRepository.java
  src/main/java/com/example/mate/domain/goods/repository/GoodsPostRepository.java
  src/main/java/com/example/mate/domain/goods/service/GoodsService.java
  src/main/resources/application-common.yml
  src/test/java/com/example/mate/common/utils/file/FileUploaderTest.java
  src/test/java/com/example/mate/common/utils/file/FileValidatorTest.java
  src/test/java/com/example/mate/domain/goods/controller/GoodsControllerTest.java
  src/test/java/com/example/mate/domain/goods/integration/GoodsIntegrationTest.java
  src/test/java/com/example/mate/domain/goods/service/GoodsServiceTest.java
Labels: ✨ Feature, ⚙ Setting, ✅ Test

#20 MATE-53 : [FEAT] 상단 배너 경기 정보 조회 기능 구현
  http/Match.http
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/domain/match/controller/MatchController.java
  src/main/java/com/example/mate/domain/match/controller/TeamController.java
  src/main/java/com/example/mate/domain/match/dto/response/MatchResponse.java
  src/main/java/com/example/mate/domain/match/dto/response/StadiumResponse.java
  src/main/java/com/example/mate/domain/match/dto/response/TeamResponse.java
  src/main/java/com/example/mate/domain/match/dto/response/WeatherResponse.java
  src/main/java/com/example/mate/domain/match/entity/Match.java
  src/main/java/com/example/mate/domain/match/repository/MatchRepository.java
  src/main/java/com/example/mate/domain/match/service/MatchService.java
  src/main/resources/application-common.yml
  src/test/java/com/example/mate/domain/match/controller/MatchControllerTest.java
  src/test/java/com/example/mate/domain/match/integration/MatchIntegrationTest.java
  src/test/java/com/example/mate/domain/match/service/MatchServiceTest.java
Labels: ✨ Feature, ✅ Test

#21 MATE-54 : [FEAT] 팀별 완료된 경기 전적 조회
  http/Match.http
  src/main/java/com/example/mate/domain/match/controller/MatchController.java
  src/main/java/com/example/mate/domain/match/entity/Match.java
  src/main/java/com/example/mate/domain/match/repository/MatchRepository.java
  src/main/java/com/example/mate/domain/match/service/MatchService.java
  src/test/java/com/example/mate/domain/match/controller/MatchControllerTest.java
  src/test/java/com/example/mate/domain/match/integration/MatchIntegrationTest.java
  src/test/java/com/example/mate/domain/match/service/MatchServiceTest.java
Labels: ✨ Feature, ✅ Test

#22 MATE-59 : [FEAT] JWT 토큰 및 스프링 시큐리티 설정
  build.gradle
  src/main/java/com/example/mate/common/config/SecurityConfig.java
  src/main/java/com/example/mate/common/security/auth/CustomUserPrincipal.java
  src/main/java/com/example/mate/common/security/filter/JwtCheckFilter.java
  src/main/java/com/example/mate/common/security/util/JwtUtil.java
Labels: ✨ Feature, ⚙ Setting

#23 MATE-55 : [FEAT] KBO 구단 순위 제공 기능 구현
  http/Match.http
  src/main/java/com/example/mate/common/config/SecurityConfig.java
  src/main/java/com/example/mate/common/security/auth/CustomUserPrincipal.java
  src/main/java/com/example/mate/common/security/filter/JwtCheckFilter.java
  src/main/java/com/example/mate/common/security/util/JwtUtil.java
  src/main/java/com/example/mate/domain/match/controller/TeamController.java
  src/main/java/com/example/mate/domain/match/dto/response/TeamResponse.java
  src/main/java/com/example/mate/domain/match/repository/TeamRecordRepository.java
  src/main/java/com/example/mate/domain/match/service/TeamService.java
  src/test/java/com/example/mate/domain/match/controller/TeamControllerTest.java
  src/test/java/com/example/mate/domain/match/integration/TeamRecordIntegrationTest.java
  src/test/java/com/example/mate/domain/match/service/TeamServiceTest.java
Labels: ✨ Feature, ✅ Test

#24 MATE-46 : [FEAT] 굿즈거래 판매글 수정 테스트 코드 작성
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/common/utils/file/FileUploader.java
  src/main/java/com/example/mate/domain/goods/controller/GoodsController.java
  src/main/java/com/example/mate/domain/goods/entity/GoodsPost.java
  src/main/java/com/example/mate/domain/goods/entity/GoodsPostImage.java
  src/main/java/com/example/mate/domain/goods/repository/GoodsPostImageRepository.java
  src/main/java/com/example/mate/domain/goods/service/GoodsService.java
  src/test/java/com/example/mate/domain/goods/controller/GoodsControllerTest.java
  src/test/java/com/example/mate/domain/goods/entity/GoodsPostTest.java
  src/test/java/com/example/mate/domain/goods/integration/GoodsIntegrationTest.java
  src/test/java/com/example/mate/domain/goods/service/GoodsServiceTest.java
Labels: ✨ Feature, ✅ Test

#25 MATE-25 : [FEAT] 메인페이지 메이트 게시글 조회 기능 구현 및 테스트 환경 설정 개선
  build.gradle
  src/main/java/com/example/mate/domain/mate/controller/MateController.java
  src/main/java/com/example/mate/domain/mate/dto/request/MatePostCreateRequest.java
  src/main/java/com/example/mate/domain/mate/dto/response/MatePostResponse.java
  src/main/java/com/example/mate/domain/mate/dto/response/MatePostSummaryResponse.java
  src/main/java/com/example/mate/domain/mate/repository/MateRepository.java
  src/main/java/com/example/mate/domain/mate/service/MateService.java
  src/test/java/com/example/mate/domain/mate/controller/MateControllerTest.java
  src/test/java/com/example/mate/domain/mate/integration/MateIntegrationTest.java
  src/test/java/com/example/mate/domain/mate/service/MateServiceTest.java
  src/test/resources/application-test.yml
  src/test/resources/application.yml
Labels: ✨ Feature, ⚙ Setting, ✅ Test

#26 MATE-46 : [FEAT] 굿즈거래 판매글 삭제 기능 구현
  src/main/java/com/example/mate/domain/goods/controller/GoodsController.java
  src/main/java/com/example/mate/domain/goods/service/GoodsService.java
  src/test/java/com/example/mate/domain/goods/controller/GoodsControllerTest.java
  src/test/java/com/example/mate/domain/goods/integration/GoodsIntegrationTest.java
  src/test/java/com/example/mate/domain/goods/service/GoodsServiceTest.java
Labels: ✨ Feature, ✅ Test

#27 MATE-20 : [FEAT] 다른 회원 프로필 조회 기능 구현
  http/Member.http
  src/main/java/com/example/mate/domain/auth/controller/AuthController.java
  src/main/java/com/example/mate/domain/goods/repository/GoodsPostRepository.java
  src/main/java/com/example/mate/domain/member/controller/MemberController.java
  src/main/java/com/example/mate/domain/member/dto/response/MemberProfileResponse.java
  src/main/java/com/example/mate/domain/member/repository/FollowRepository.java
  src/main/java/com/example/mate/domain/member/repository/MemberRepository.java
  src/main/java/com/example/mate/domain/member/service/FollowService.java
  src/main/java/com/example/mate/domain/member/service/MemberService.java
  src/test/java/com/example/mate/domain/member/controller/MemberControllerTest.java
  src/test/java/com/example/mate/domain/member/integration/MemberIntegrationTest.java
  src/test/java/com/example/mate/domain/member/service/MemberServiceTest.java
Labels: ✨ Feature, ✅ Test

#28 MATE-26 : [FEAT] 메이트 페이지 게시글 조회 기능 구현
  build.gradle
  src/main/java/com/example/mate/common/config/QueryDslConfig.java
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/domain/constant/Gender.java
  src/main/java/com/example/mate/domain/mate/controller/MateController.java
  src/main/java/com/example/mate/domain/mate/dto/request/MatePostSearchRequest.java
  src/main/java/com/example/mate/domain/mate/entity/SortType.java
  src/main/java/com/example/mate/domain/mate/repository/MateRepository.java
  src/main/java/com/example/mate/domain/mate/repository/MateRepositoryCustom.java
  src/main/java/com/example/mate/domain/mate/repository/MateRepositoryImpl.java
  src/main/java/com/example/mate/domain/mate/service/MateService.java
  src/test/java/com/example/mate/domain/mate/controller/MateControllerTest.java
  src/test/java/com/example/mate/domain/mate/integration/MateIntegrationTest.java
  src/test/java/com/example/mate/domain/mate/service/MateServiceTest.java
Labels: ✨ Feature, ⚙ Setting, ✅ Test

#29 MATE-48 : [FEAT] 굿즈거래 판매글 상세 조회 기능 구현
  src/main/java/com/example/mate/domain/goods/controller/GoodsController.java
  src/main/java/com/example/mate/domain/goods/dto/response/GoodsPostResponse.java
  src/main/java/com/example/mate/domain/goods/entity/GoodsPost.java
  src/main/java/com/example/mate/domain/goods/service/GoodsService.java
  src/test/java/com/example/mate/domain/goods/controller/GoodsControllerTest.java
  src/test/java/com/example/mate/domain/goods/integration/GoodsIntegrationTest.java
  src/test/java/com/example/mate/domain/goods/service/GoodsServiceTest.java
Labels: ✨ Feature, ✅ Test

#31 MATE-27 : [FEAT] 메이트 게시글 상세 조회 기능 구현
  src/main/java/com/example/mate/domain/mate/controller/MateController.java
  src/main/java/com/example/mate/domain/mate/dto/response/MatePostDetailResponse.java
  src/main/java/com/example/mate/domain/mate/service/MateService.java
  src/test/java/com/example/mate/domain/mate/controller/MateControllerTest.java
  src/test/java/com/example/mate/domain/mate/integration/MateIntegrationTest.java
  src/test/java/com/example/mate/domain/mate/service/MateServiceTest.java
Labels: ✨ Feature, ✅ Test

#30 MATE-32 : [FEAT] 회원 팔로우 기능 구현
  http/Member.http
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/domain/member/controller/FollowController.java
  src/main/java/com/example/mate/domain/member/service/FollowService.java
  src/test/java/com/example/mate/domain/member/controller/FollowControllerTest.java
  src/test/java/com/example/mate/domain/member/integration/FollowIntegrationTest.java
  src/test/java/com/example/mate/domain/member/service/FollowServiceTest.java
Labels: ✨ Feature, ✅ Test

#32 MATE-56 : [FEAT] 팀별 주차별 일정 조회 기능 구현
  http/Match.http
  src/main/java/com/example/mate/domain/match/controller/MatchController.java
  src/main/java/com/example/mate/domain/match/dto/response/WeeklyMatchesResponse.java
  src/main/java/com/example/mate/domain/match/repository/MatchRepository.java
  src/main/java/com/example/mate/domain/match/service/MatchService.java
  src/main/java/com/example/mate/domain/match/util/WeekCalculator.java
  src/test/java/com/example/mate/domain/match/controller/MatchControllerTest.java
  src/test/java/com/example/mate/domain/match/integration/MatchIntegrationTest.java
  src/test/java/com/example/mate/domain/match/service/MatchServiceTest.java
Labels: ✨ Feature, ✅ Test

#33 MATE-33 : [FEAT] 회원 언팔로우 기능 구현
  http/Member.http
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/domain/member/controller/FollowController.java
  src/main/java/com/example/mate/domain/member/repository/FollowRepository.java
  src/main/java/com/example/mate/domain/member/service/FollowService.java
  src/test/java/com/example/mate/domain/member/controller/FollowControllerTest.java
  src/test/java/com/example/mate/domain/member/integration/FollowIntegrationTest.java
  src/test/java/com/example/mate/domain/member/service/FollowServiceTest.java
Labels: ✨ Feature, ✅ Test

#34 MATE-29 : [FEAT] 메이트 게시글 삭제 기능 구현 및 테스트 커버리지 설정
  build.gradle
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/domain/mate/controller/MateController.java
  src/main/java/com/example/mate/domain/mate/entity/MatePost.java
  src/main/java/com/example/mate/domain/mate/entity/Visit.java
  src/main/java/com/example/mate/domain/mate/service/MateService.java
  src/test/java/com/example/mate/domain/mate/controller/MateControllerTest.java
  src/test/java/com/example/mate/domain/mate/integration/MateIntegrationTest.java
  src/test/java/com/example/mate/domain/mate/service/MateServiceTest.java
Labels: ✨ Feature, ⚙ Setting, ✅ Test

#36 MATE-36 : [FEAT] 자체 회원 가입 기능 구현
  http/Member.http
  src/main/java/com/example/mate/domain/auth/dto/response/NaverProfileResponse.java
  src/main/java/com/example/mate/domain/constant/Gender.java
  src/main/java/com/example/mate/domain/member/controller/MemberController.java
  src/main/java/com/example/mate/domain/member/dto/request/JoinRequest.java
  src/main/java/com/example/mate/domain/member/dto/response/JoinResponse.java
  src/main/java/com/example/mate/domain/member/entity/Member.java
  src/main/java/com/example/mate/domain/member/service/MemberService.java
  src/test/java/com/example/mate/domain/auth/controller/AuthControllerTest.java
  src/test/java/com/example/mate/domain/auth/integration/NaverAuthIntegrationTest.java
  src/test/java/com/example/mate/domain/member/controller/MemberControllerTest.java
  src/test/java/com/example/mate/domain/member/integration/MemberIntegrationTest.java
  src/test/java/com/example/mate/domain/member/service/MemberServiceTest.java
Labels: ✨ Feature, ⚙ Setting

#38 MATE-28 : [FEAT] 메이트 게시글 모집상태 변경 기능 구현
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/domain/mate/controller/MateController.java
  src/main/java/com/example/mate/domain/mate/dto/request/MatePostStatusRequest.java
  src/main/java/com/example/mate/domain/mate/entity/MatePost.java
  src/main/java/com/example/mate/domain/mate/entity/Status.java
  src/main/java/com/example/mate/domain/mate/service/MateService.java
  src/test/java/com/example/mate/domain/mate/controller/MateControllerTest.java
  src/test/java/com/example/mate/domain/mate/integration/MateIntegrationTest.java
  src/test/java/com/example/mate/domain/mate/service/MateServiceTest.java
Labels: ✨ Feature, ✅ Test

#39 MATE-37 : [FEAT] 내 프로필 조회 기능 구현
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/common/error/GlobalExceptionHandler.java
  src/main/java/com/example/mate/domain/goods/repository/GoodsPostRepository.java
  src/main/java/com/example/mate/domain/goods/repository/GoodsReviewRepository.java
  src/main/java/com/example/mate/domain/mate/repository/MateReviewRepository.java
  src/main/java/com/example/mate/domain/mate/repository/VisitPartRepository.java
  src/main/java/com/example/mate/domain/mate/repository/VisitRepository.java
  src/main/java/com/example/mate/domain/member/controller/MemberController.java
  src/main/java/com/example/mate/domain/member/dto/response/MemberProfileResponse.java
  src/main/java/com/example/mate/domain/member/dto/response/MyProfileResponse.java
  src/main/java/com/example/mate/domain/member/service/MemberService.java
  src/test/java/com/example/mate/domain/member/controller/MemberControllerTest.java
  src/test/java/com/example/mate/domain/member/integration/MemberIntegrationTest.java
  src/test/java/com/example/mate/domain/member/service/MemberServiceTest.java
Labels: ✨ Feature, ✅ Test

#37 MATE-49 : [FEAT] 메인페이지 굿즈거래 판매글 조회 기능 구현
  .gitignore
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/domain/goods/controller/GoodsController.java
  src/main/java/com/example/mate/domain/goods/dto/MemberInfo.java
  src/main/java/com/example/mate/domain/goods/dto/request/GoodsPostRequest.java
  src/main/java/com/example/mate/domain/goods/dto/response/GoodsPostResponse.java
  src/main/java/com/example/mate/domain/goods/dto/response/GoodsPostSummaryResponse.java
  src/main/java/com/example/mate/domain/goods/entity/GoodsPost.java
  src/main/java/com/example/mate/domain/goods/repository/GoodsPostRepository.java
  src/main/java/com/example/mate/domain/goods/service/GoodsService.java
  src/test/java/com/example/mate/domain/goods/controller/GoodsControllerTest.java
  src/test/java/com/example/mate/domain/goods/integration/GoodsIntegrationTest.java
  src/test/java/com/example/mate/domain/goods/service/GoodsServiceTest.java
Labels: ✨ Feature, ✅ Test

#40 MATE-63: [REFACTOR] 굿즈거래 판매글 삭제 로직 수정
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/domain/goods/repository/GoodsPostRepository.java
  src/main/java/com/example/mate/domain/goods/service/GoodsService.java
  src/test/java/com/example/mate/domain/goods/service/GoodsServiceTest.java
Labels: 🔨 Refactor, ✅ Test

#41 MATE-38 : [FEAT] 회원 정보 수정 기능 구현
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/common/utils/file/FileValidator.java
  src/main/java/com/example/mate/domain/member/controller/MemberController.java
  src/main/java/com/example/mate/domain/member/dto/request/MemberInfoUpdateRequest.java
  src/main/java/com/example/mate/domain/member/dto/response/MyProfileResponse.java
  src/main/java/com/example/mate/domain/member/repository/MemberRepository.java
  src/main/java/com/example/mate/domain/member/service/MemberService.java
  src/test/java/com/example/mate/domain/member/controller/MemberControllerTest.java
  src/test/java/com/example/mate/domain/member/integration/MemberIntegrationTest.java
  src/test/java/com/example/mate/domain/member/service/MemberServiceTest.java
Labels: ✨ Feature, ✅ Test

#42 MATE-39 : [FEAT] 회원 삭제 기능 구현
  src/main/java/com/example/mate/domain/member/controller/MemberController.java
  src/main/java/com/example/mate/domain/member/service/MemberService.java
  src/test/java/com/example/mate/domain/member/controller/MemberControllerTest.java
  src/test/java/com/example/mate/domain/member/integration/MemberIntegrationTest.java
  src/test/java/com/example/mate/domain/member/service/MemberServiceTest.java
Labels: ✨ Feature, ✅ Test

#43 MATE-30 : [FEAT] 직관완료 처리 기능 구현
  src/main/java/com/example/mate/common/error/ErrorCode.java
  src/main/java/com/example/mate/domain/mate/controller/MateController.java
  src/main/java/com/example/mate/domain/mate/dto/request/MatePostCompleteRequest.java
  src/main/java/com/example/mate/domain/mate/dto/request/MatePostCreateRequest.java
  src/main/java/com/example/mate/domain/mate/dto/response/MatePostCompleteResponse.java
  src/main/java/com/example/mate/domain/mate/entity/MatePost.java
  src/main/java/com/example/mate/domain/mate/entity/Status.java
  src/main/java/com/example/mate/domain/mate/entity/Visit.java
  src/main/java/com/example/mate/domain/mate/service/MateService.java
  src/test/java/com/example/mate/domain/mate/controller/MateControllerTest.java
  src/test/java/com/example/mate/domain/mate/controller/MateStatusControllerTest.java
  src/test/java/com/example/mate/domain/mate/integration/MateIntegrationTest.java
  src/test/java/com/example/mate/domain/mate/integration/MateStatusIntegrationTest.java
  src/test/java/com/example/mate/domain/mate/service/MateServiceTest.java
  src/test/java/com/example/mate/domain/mate/service/MateStatusServiceTest.java
Labels: ✨ Feature, ✅ Test

#45 MATE-50: [FEAT] 굿즈거래 판매글 페이징 조회 기능 구현
  src/main/java/com/example/mate/domain/goods/controller/GoodsController.java
  src/main/java/com/example/mate/domain/goods/entity/GoodsPostImage.java
  src/main/java/com/example/mate/domain/goods/repository/GoodsPostRepository.java
  src/main/java/com/example/mate/domain/goods/repository/GoodsPostRepositoryCustom.java
  src/main/java/com/example/mate/domain/goods/repository/GoodsPostRepositoryCustomImpl.java
  src/main/java/com/example/mate/domain/goods/service/GoodsService.java
  src/test/java/com/example/mate/domain/goods/controller/GoodsControllerTest.java
  src/test/java/com/example/mate/domain/goods/integration/GoodsIntegrationTest.java
  src/test/java/com/example/mate/domain/goods/service/GoodsServiceTest.java
Labels: ✨ Feature, ✅ Test

#47 MATE-64 : [FEAT] 메이트 게시글 조회 응답 DTO 필드 추가
  src/main/java/com/example/mate/domain/mate/controller/MateController.java
  src/main/java/com/example/mate/domain/mate/dto/response/MatePostSummaryResponse.java
  src/main/java/com/example/mate/domain/mate/service/MateService.java
  src/test/java/com/example/mate/domain/mate/controller/MateControllerTest.java
Labels: ✨ Feature
